<ion-content>
  <ion-grid style="height: 100%" text-center>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size-md="6">

          <img src="assets/icon/logo.png" height="200 px" width="200 px">
          <ion-button expand="full" shape="round" (click)="chng('landing/login')">login</ion-button>
          <ion-button expand="full" shape="round" (click)="chng('landing/activate')">Aktivasi Akun</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>