<ion-content>
  <ion-grid style="height: 100%" text-center>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col size-md="6">

        <div *ngIf="define1">
          <img src="assets/icon/logo.png" height="200 px" width="200 px">
          <ion-button expand="full" shape="round" (click)="getData(login())">login</ion-button>
          <ion-button expand="full" shape="round" (click)="getData(activate())">Aktivasi Akun</ion-button>
        </div>

        <div *ngIf="define2">
          <form (ngSubmit)="onLogin(f)" #f=ngForm>
            <img src="assets/icon/icon.png" height="200 px" width="150 px">
            <ion-item margin-top>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input type="text" clearInput="true" maxlength="15" placeholder="Username" required name="name"
                ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock" slot="start"></ion-icon>
              <ion-input type="password" clearInput="true" placeholder="Password" required name="pass" ngModel>
              </ion-input>
            </ion-item>
            <ion-button type="submit" expand="block">login</ion-button>
            <div text-center>
              <p>Belum aktivasi? <a (click)="getData(activate())">aktivasi akun</a> terlebih dahulu.</p>
              <p>atau kembali ke <a (click)="getData(backto())">halaman depan</a></p>
            </div>
          </form>
        </div>

        <div *ngIf="define3">
          <form (ngSubmit)="onRegist(ff)" #ff=ngForm>
            <img src="assets/icon/icon.png" height="200 px" width="150 px">
            <ion-item margin-top>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input type="text" clearInput="true" placeholder="Nomor Pendaftaran (ID)" required name="namee"
                ngModel></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-input type="password" clearInput="true" placeholder="Kode Aktivasi" required name="passs" ngModel>
              </ion-input>
            </ion-item>
            <ion-button expand="block" type="submit">Aktivasi</ion-button>
            <div text-center>
              <p>Sudah aktivasi? langsung ke halaman <a (click)="getData(login())">login</a></p>
              <p>atau kembali ke <a (click)="getData(backto())">halaman depan</a></p>
            </div>
          </form>
        </div>

        <div *ngIf="define4">
          <form (ngSubmit)="onCreate(fff)" #fff=ngForm>
            <ion-card color="light" padding>
              <div text-justify>
                <p>Silahkan buat Username dan Password untuk akunmu. Setelah ini status akunmu akan berubah menjadi
                  AKTIF.</p>
                <p>Username dan Password ini yang nanti dipakai untuk login ya~</p>
              </div>
            </ion-card>

            <ion-item>
              <ion-input pattern="^\w.*$" type="text" placeholder="Username" required name="nameee" ngModel
                #name="ngModel" minlength="7" maxlength="15"></ion-input>
              <div style="color:red" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors?.pattern; else space">jangan gunakan spasi!</p>
                <ng-template #space>
                  <p>minimal 7 karakter!</p>
                </ng-template>
              </div>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" required name="passss" ngModel #name="ngModel"
                minlength="7"></ion-input>
              <div style="color:red" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors?.minlength;">Minimal 7 karakter!</p>
              </div>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Konfirmasi Password" required name="cpassss" ngModel></ion-input>
            </ion-item>
            <ion-button expand="block" type="submit">Buat Akun</ion-button>
            <div text-center>
              <p>nanti aja deh, kembali ke <a (click)="getData(backto())">halaman depan</a> dulu.</p>
              <p>nb: tenang, akunmu bisa diaktivasi lain kali</p>
            </div>
          </form>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>